.slide {
  text-align: center;
}

body {
  background-color: #1a1a1a;
  font-family: 'Play', sans-serif;
  font-size: 40px;
  color: #ddd;
}

.intro {
  text-align: center
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.colour-tap {
  max-width: 400px;
}

.blipmusiq {
  max-width: 600px;
}

.moviehub {
  max-width: 600px;
}

.arthub {
  max-width: 600px;
}

.devicons {
  font-size: 120px;
  margin: 0 auto;
  padding-right: 200px;
  padding-left: 200px;
}

.contact {
  margin-top: 50px;
}

.fab {
  margin-right: 25px;
}

a {
  color: inherit;
}

.about-desc {
  font-size: 24px;
  text-align: left;
  width: 800px;
}

.me {
  float: left;
  max-width: 200px;
  margin-right: 20px;
}
